@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;1,100&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  background: #d8d8cc40;
}

.container {
  width: 1100px;
  min-height: auto;
  margin: 0 auto;
  background: #f1e7db;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
}

.header {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f1e7db;
  padding: 20px;
}

.title h2 {
  font-weight: 400;
}

.title h4 {
  font-size: 18px;
  font-weight: 350;
}

.header-nav {
  width: 45%;
  display: flex;
  justify-content: space-around;
}

.header-nav a {
  text-decoration: none;
  color: black;
  transition: transform .4s ease;
}

.header-nav a:hover {
  transform: translateY(10px);
}

.phone a {
  color: #e9a981; 
  font-size: 18px;
}

.block_1 {
  width: 1100px;
  height: 360px;
  background-image: url(/imgs/backgr.jpg);
  position: relative;
}

.title2 {
  text-align: left;
  margin-left: 10px;
  padding: 70px;
}

.title2 h1 {
  font-weight: 500;
}

.title2 p {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 350;
}

.photo {
  width: 290px;
  height: 390px;
  position: absolute;
  box-shadow: 12px 12px 0px 0px #ebbea2; 
  top: 30px;
  left: 630px;
}

.btn {
  position: absolute;
  top: 230px;
  left: 270px;
}

.button {
  display: inline-block;
  border-radius: 100px;
  background-color: #eab899; 
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 190px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
  
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
  
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
  
.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
  
.block_2 {
  width: 1100px;
  height: 350px;
  background-color: #f1e7db;
}

.frame-block {
  width: 800px;
  height: 250px;
  margin: 0 auto;
  margin-top: 130px;
  border: solid 2px #ebbea2; 
  display: flex;
}

.frame-block p {
  padding-right: 25px;
  text-align: center;
  font-style: italic;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic {
  width: 200px;
  height: 200px;
  margin: auto;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
}

.block_3 {
  width: 1100px;
  height: 1000px;
  background-color: #FFFFFF;
}